* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #f6f8fc;
}

body {
    height: 100vh;
    padding: 10px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ctn-corpo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ctn-pesquisa {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ctn-pesquisa .inpt-pesquisa {
    border: none;
    width: 100%;
    outline: none;
}

.ctn-pesquisa .btn-pesquisa {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

main {
    height: 100%;
    overflow-y: scroll;
}

#lista-pokemon {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

#lista-pokemon li {
    border: 1px solid #ccc;
    width: calc(100% / 3 - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ctn-imagem {
    border: 1px solid red;
    width: 60%;
    height: 70px;
    margin-bottom: -30px;
    z-index: 1;
}

.card {
    background-color: white;
    width: 100%;
    padding: 10px;
    padding-top: 35px;
    border-radius: 10px;
}

.ctn-numero {
    font-size: x-small;
    color: #abb0b9;
    font-weight: bold;
    text-align: center;
}

.ctn-nome {
    font-size: small;
    font-weight: bold;
    text-align: center;
}

.ctn-visualização {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    height: 100%;
}